.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 20%;  /* Adjust as needed */
  height: 20%;  /* Keep width and height equal to maintain square shape */
  border-radius: 90%; /* Makes the logo circular */
  overflow: hidden; /* Ensures any overflow is hidden if the logo is not a perfect square */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/


